.Navbar {
  background-color: white;
  padding: 0.5em 2em;
  // margin: 0.5em 2em;
  height: 80px;
  width: 100vw;
  border-bottom: 5px solid rgb(160, 160, 160);

  //flexbox
  display: flex;
  align-items: baseline;
  align-items: center;

  //text related css
  color: black;

  .navbar-logo {
    font-size: x-large;
    font-weight: bold;

    margin: 0.5em;
  }

  // .navbar-links {
  //   display: flex;
  //   align-items: baseline;
  //   align-items: center;
  //   padding-left: 3em;

  //   .navbar-temp {
  //     margin-left: 1em;
  //   }
  //}
}
