.Navbar {
  background-color: #123d82;
  padding: 0.5em;
  height: 80px;

  //flexbox
  display: flex;
  align-items: baseline;
  align-items: center;

  //text related css
  color: white;

  .navbar-logo {
    font-size: x-large;
    font-weight: bold;

    margin: 0.5em;
  }

  .navbar-links {
    display: flex;
    align-items: baseline;
    align-items: center;
    padding-left: 3em;

    .navbar-temp {
      margin-left: 1em;
    }
  }
}
