.Reviews {
  // background-color: #f2f2f2;
  background-color: black;
  color: white;
  margin: 4em;
  padding: 1em;
  .quotation {
    font-weight: 500;
    font-size: large;
  }
  .reviews-text {
    font-size:larger;
    text-align: left;
  }
  .reviews-name {
    font-size:large;
    text-align: right;
  }
  .reviews-date {
    font-size: large;
    text-align: right;
  }
}