.Reviews {
  background-color: black;
  color: white;
  margin: 2em;
  padding: 1em;
  min-height: 9em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .reviews-text {
    font-size:larger;
    text-align: left;
    .read-more {
      font: normal normal normal 16px/18px;
      letter-spacing: 0px;
      color: #0460a9;
    }
  }
  .reviews-reviewer-info {

    .reviews-name {
      font-size:large;
      text-align: right;

    }
    .reviews-date {
      font-size: large;
      text-align: right;
    }
  }
}