.service-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-radius: 5px;
  gap: 10px;
  background-color: #f2f2f2;
  margin: 4em;
  padding: 4em;

  .serviceBox {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .image-box {
    border: 3px solid white;
    height: 200px;
    width: 80%;
    align-self: center;
    margin-top: 2px;
  }

  .image-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
  }

  .service-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
}
