.service-container {
  display: grid;
  // grid-template-columns: auto auto auto auto;
  border-radius: 5px;
  gap: 10px;
  background-color: #f2f2f2;
  // margin: 4em;
  padding: 4em;

  .serviceBox {
    text-align: left;
    padding: 20px 0;
    font-size: 20px;

    display: flex;
    justify-content: center;
    flex-direction: row;

    .serviceList {
      // padding-right: 2em;
      border-right: solid black;
      // background-color: red;
      width: 50%;
      padding: 1em 1em 1em 1em;
    }

    .brandList {
      // background-color: pink;
      width: 50%;
      padding: 1em 1em 1em 3em;
      // flex-direction: column;
      // display: flex;
      // flex-wrap: wrap;

      .BL {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        // border: 2px solid green;

        .brandNames {
          display: flex;
          // flex-direction: row;
          flex-wrap: wrap;
          // padding: 0.5em;
          // border: 2px solid red;

          .image-box {
            height: 100px;
            width: 100px;
            align-self: center;
            margin-top: 2px;
            // border: 2px solid blue;
            padding: 0em 1em 2em 0em;
            display: flex;
            flex-direction: column;
            text-align: center;

            img {
              object-fit: cover;
              height: 100%;
              align-items: center;
              margin: auto;
              // border: 2px solid black;
            }
          }
        }
      }
    }
  }
}
