@media (min-width: 1008px) {
  .service-container {
    padding: 4em;
  }
  .serviceBox{
    display: flex;
    flex-direction: row;

  }
  
  .serviceList{
    border-right: solid black;
    width: 50%;
    padding: 1em 1em 1em 1em;

  }
  
  .brandList {
    width: 50%;
    padding: 1em 1em 1em 3em;
  }
}

@media (min-width: 641) {
  .service-container {
    padding: 2em;
  }
  .serviceBox{
    display: flex;
    flex-direction: column;
  }
}

.service-container {
  border-radius: 5px;
  gap: 10px;
  padding: 1em;
  background-color: #f2f2f2;
  margin-bottom: 2em;

  .serviceBox {
    text-align: left;
    padding: 20px 0;
    font-size: 20px;

    justify-content: center;

    .brandList {

      .BL {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .brandNames {
          display: flex;
          flex-wrap: wrap;

          .image-box {
            height: 100px;
            width: 100px;
            align-self: center;
            margin-top: 2px;
            padding: 0em 1em 2em 0em;
            display: flex;
            flex-direction: column;
            text-align: center;

            img {
              object-fit: cover;
              height: 100%;
              align-items: center;
              margin: auto;
            }
          }
        }
      }
    }
  }
}

